body, html {
	background: #ECEDEF;
	margin: 0;
	padding: 0;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 320px;
}
