
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}
body{
	margin: 0;
	width: auto;
	height: auto;
	background-color:#ffffff

}
.container{
    margin: 0 auto;
    text-align: center;
	margin-top: 4.5em;

}
#original{
    margin-top: 0;
}
form h1{
    font-family: PF DinText Pro;
    font-size: 46px;
    font-weight: bold;
    line-height: 43px;
    color: #19A8BE;
    text-align: left;
}
h2{
    font-family: Sans-serif;
    font-style: normal;
    font-size: 27px;
    line-height: 29px;

    color: #BDBDBD;
    text-align: left;
    letter-spacing: 2px;
}
.form-group label{
    text-align: left;
}

.input-label{
    display: block;
    float: left;
    font-size: 10px;
    line-height: 15px;
}
#main .form-control{
    border: 1.5px solid #BDBDBD;
    border-radius: 4px;
}
.form-control{
    border: none;
    border-bottom: 1px solid #19A8BE;
    border-radius: 0;

}

#main label{

    font-weight: 600;
    font-size: 12px;
}
.btn-primary {
    width: 315px;
    height: 48px;
    margin-top: 50px;

    background: linear-gradient(90deg, #19A8BE 0.79%, #5EDEF1 100%);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
#calc{
    width: 100%;
    height: 48px;
}
.calculate{
    width: 186px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 11.5px;
    margin-bottom: 15px;
    padding: 5px;
    color: #19A8BE;
}
a, a:hover, a:focus{
    color: #19A8BE;
}
#main{
    background-color: white;
    width: 500px;
    padding: 1px 20px 10px 20px;
}
.after_nav{
    background-color: #E5E5E5;
    width: 500px;
    padding-top: 50px;
}
div.navbar{
    background-color: #19A8BE !important;
}

#navtitle{
    width: 200px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.after_nav h2{
    text-align: left;
    padding-top: 10px;
}
.after_nav h1{
    text-align: left;
    color: #19A8BE;
}
#total, .total{
    text-align: center;
    font-size: 30px;
}
.splash{
    margin: 0 auto;
    width: 960px;
    height: 510px;
    background-image: url('../image/zeus_logo.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
#home{
    font-size: 24px;
}

.left{
    float:left;
}
.right{
    float: right;
}