body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
	background-color: black;
    font-family: 'Red Hat Text', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header{
	margin:-10px;	
}

.header-logo{
    margin: 15px;
    border: 0px;
    padding-left: 30px;
    float: left;
    text-align: left;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
	color : white;
}
.header-link {
    margin: 15px;
    border: 0px;
    padding: 0px;
    float: right;
    text-align: center;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
    padding-right: 50px;
    
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
        transform: translate(-50%, -50%)
}

input {

	background: none;
    width: 280px;
    height: 10px;
    margin: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: #c9c9c9;
	border-bottom-width: 0.5px;
    text-align: 10px;
	padding: 15px;
	padding-left:5px;
    
}

main {
	border-radius: 40px;
}

#head {
	color: white;
	margin-left: 10px;
}

#submit {
	padding-left: 50px;
	padding-right: 50px;
	padding:10px; 
    border-radius: 50px;
    width: 250px;
    height: 40px;
    margin: 10px;
	border: none;
    background: black;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
	cursor: pointer;
}

#username, #password {
	margin: 100px;
	color: #c9c9c9;
    text-indent: 20%;
    font-family: 'Red Hat Text', sans-serif;
}

.register-btn {
	text-align: center;
    width: 350px;
    height: 40px;
    margin: 10px;
	font-size:15px;
    color: #b9b9b9;
    font-family: 'Red Hat Text', sans-serif;
	cursor: pointer;
}

#register {
	background-color: white ;
    border-radius: 25px;
    width: 350px;
    height: 390px;
    margin: 10px;
    border: none;
    text-align: 10px;
	padding: 10px;
    padding-top:20px;	
}

.navigation{
	background: black;
	height: 50px;
	
}